@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box-shadow {}

.flex {
    display: flex;
    align-items: center;
}


body {
    font-family: 'poppins', sans-serif;
    color: #183b56;
    font-weight: bold;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.25rem;
    font-family: 'roboto', sans-serif;
    color: #000000;
    line-height: 1.8rem;
}

.nav-bar {
    width: 100%;
    height: 95px;
    background-color: rgb(255, 255, 255);
    /* box-shadow: 0px 10px 15px 15px rgba(0, 0, 0, 0.25); */
    box-shadow: 0px 5px 28px 13px rgba(0, 0, 0, 0.25);
}

.logo img {
    width: 95px;
    padding-left: 11px;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul{
    margin-left: 90px;
}

ul li {
    list-style: none;
    margin-left:27px;
    /* margin-bottom: 20; */
    /* font-size:20px; */
    font-style: normal;
    font-weight: 500;
/* font-size: 17.8935px; */
    line-height: 24px;
    letter-spacing: 0.03em;

}

.nav-links ul li a:hover{
    color:#8DC936;
    /* border-color: rgb(224, 88, 9); */
    
}

.nav-links{
    float: right;
    
}

ul li a{
    color: #000000;
}

#login{
    margin-bottom: 20px;
}
#signup{
    margin-bottom: 20px;
    margin-left: -12px;
}

.primary-button{
    background-color: #e67429;
    border-radius: 15px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    padding: 12px 24px;
    /* box-shadow: 0 0 2px rgb(0, 0, 0); */
    transition: 0.2s ease-out;
    margin-top: 20px;
    margin-left: 200px;
 }

 .secondary-button{
    border:1.9px solid rgb(0, 0, 0);
    border-radius: 15px;
    font-weight: 500;
    color: var(--primary-text-color) !important;
    padding: 12px 20px;
    transition: 0.2s ease-out;
    margin-top: 20px;

    
 }

 #login:hover{
    /* background-color: transparent;
    border: 1.5px solid black;
    color: black; */
    background-color: transparent;
    color: black;
    border: 1.9px solid black;
    border-radius: 15px;
 }

 #signup:hover{
    color: #e67429 !important;
    border-color: #e67429;

 }

 .banner{
    position: absolute;
    width: 100%;
    height: 360px;
    left: 0.5px;
    top: 95.5px;
    /* background: linear-gradient(90deg, rgba(1, 255, 255, 0.35) 0%, rgba(255, 105, 179, 0.35) 100%); */
    background: linear-gradient(90deg, rgba(1, 255, 255, 0.35) 3.02%, rgba(255, 105, 179, 0.35) 103.02%);

    border-radius: 163px 0px 163px 0px;
}

.bannercircleleft{
    position: absolute;
    width: 181px;
    /* height: 180.18px; */
    left: 13px;
    top: 172px;

}

.banner-text{
    position: absolute;
    width: 412px;
    height: 106px;
    left: 270px;
    top: 71px;

    font-family: 'Brawler';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 106px;

    letter-spacing: 0.05em;
    text-transform: capitalize;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #8DC936;

 }

 .Tor{
    color: #1B98D2;
 }

 .lower-banner-text{
    position: absolute;
    font-weight: 600;
    width: 288px;
    height: 44px;
    left: 321px;
    top: 157px;
    font-family: 'Bree Serif';
    font-style: normal;
    font-size: 32.7164px;
    line-height: 44px;
    letter-spacing: 0.07em;
    text-transform: capitalize;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
 }

 .Consult-btn{
        position: absolute;
    left: 181px;
    top: 184px;
    color: rgb(8, 7, 7);
    font-family:'poppins',sans-serif;
 }

 .Consult-btn:hover{
    /* letter-spacing: .1rem; */
    background-color: transparent;
    color: #e67429;
    border: 1px solid #e67429;
    border-radius: 17px;
 }

 .bannerimg{
    position: absolute;
    width: 441px;
    height: 441px;
    left: 726px;
    top: 2.9px;
 }

.bannercircleright{
    /* position: absolute; */
    width: 181px;
    /* height: 180.18px; */
    /* left: 13px; */
    margin-right: 13px;
    margin-top: -20px;
    top: 172px;
    float: right;
}